.autoclicker-container {
    width: 500px;
    padding: 20px;
}
.led {
    
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
}
.red {
    background: red;
}

.green {
    background: green;
}
.hidden {
    visibility:hidden;
}